<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <th:block th:replace="partials/style.html :: style"></th:block>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>


<div class="container mt-5">
    <div class="text-center mt-5 push-down">
        <div class="header text-center"><h3 class="down" style="color: #00796D">Create an event!</h3></div>
        <h1>Create events as a promoter and get noticed.</h1>
        <p>Audio Space's goal is to make the connection between promoters and musicians as easy as possible. Our
            platform aims to facilitate the process of booking shows and managing events.</p>
    </div>
    <hr class="my-4">

    <div class="container">
        <div class="content d-flex flex-column align-items-center">
            <h3 class="pleaseFill d-flex flex-row">Event Info: </h3>
            <form th:action="@{/event/create}" th:method="post" th:object="${event}">

                <label for="title">Title:</label>
                <br>
                <input class="TitleForm" th:field="*{title}" id="title"/>
                <br>
                <label for="location">Location:</label>
                <br>
                <input class="TitleForm" th:field="*{location}" id="location">
                <br>
                <label  for="price">Price: $</label>
                <br>
                <input class="TitleForm" name="price" type="number" step=".01" id="price" placeholder="$">
                <br>
                <label for="slots">Available slots:</label>
                <br>
                <input class="TitleForm" th:field="*{slots}" type="number" id="slots">
                <br>
                <label for="description">Description:</label>
                <br>
                <textarea class="TitleForm" th:field="*{description}" id="description"></textarea>
                <br>
                <label for="dateTime">Day of Event (date and time):</label>
                <br>
                <input class="TitleForm" type="datetime-local" id="dateTime" name="dateTime">
                <hr>

                <hr class="my-4">
                <h5>Select Genres: </h5>
                <br>
                <input hidden type="checkbox" th:id="ignore" name="genreIds" value="ignore" checked>
                <div th:each="genre: ${genres}">
                    <label th:for="${genre.genreName}"><input type="checkbox" th:id="${genre.genreName}" name="genreIds"
                                                              th:value="${genre.genreName}"
                                                              th:text="${genre.genreName}"></label>
                </div>
                <hr class="my-4">
                <!--    <button type="submit" class="btn btn-dark mt-3">Submit</button>-->
                <a class="contact-btn" href="/event/create">Create Event</a>
                <hr>
            </form>
            <br>

        </div>


    </div>
</div>
<th:block th:replace="partials/scripts.html :: scripts"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<th:block th:replace="partials/scripts.html :: scripts"></th:block>
<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>
