<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Event</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <th:block th:replace="partials/style.html :: style"></th:block>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="container">


  <h1>Edit an Event</h1>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete Event?
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" th:text="${event.title}">Modal Title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ARE YOU SURE YOU WANT TO DELETE THIS EVENT?
        </div>
        <div class="modal-footer">
          <form th:method="post" th:action="@{|/event/${event.getId()}/delete|}">
            <input hidden name="id" th:value="${event.id}">
            <button type="button" class="btn eventSearchButton" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn eventSearchButton">Delete Event</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <form th:action="@{/event/create}" th:method="post" th:object="${event}">

    <label for="title">Title:</label>
    <br>
    <input th:field="*{title}" id="title"/>
    <br>
    <label for="location">Location:</label>
    <br>
    <input th:field="*{location}" id="location">
    <br>
    <label for="price">Price:</label>
    <br>
    <input name="price" type="number" step=".01" id="price" placeholder="$" th:value="${event.price}">
    <br>
    <label for="slots">Available slots:</label>
    <br>
    <input th:field="*{slots}" type="number" id="slots">
    <br>
    <label for="description">Description:</label>
    <br>
    <textarea th:field="*{description}" th:text="${event.description}" id="description"></textarea>
    <br>
    <label for="dateTime">Day of Event (date and time):</label>
    <input  type="datetime-local" th:value="${event.startDateTime}" id="dateTime" name="dateTime">
    <br>
    <h5>Bands playing at the event: </h5>
    <br>
    <input hidden type="checkbox" th:id="ignore" name="bandIds" value="ignore" checked>
    <div th:each="user: ${users}">
    <label th:for="${user.getId()}"><input type="checkbox" th:id="${user.id}" name="bandIds" th:value="${user.id}" th:text="${user.username}">User</label>
    </div>

    <h5>Performers currently added...: </h5>
    <div th:each="userS : ${performers}">
<!--      <input hidden type="checkbox" th:id="${userS.id}" name="removeBandIds" th:value="${userS.id}" checked>-->
      <p th:text="${userS.username}"></p>
    </div>
    <br>
    <h5>Genres for the Event: </h5>
    <br>
    <input hidden type="checkbox" th:id="ignore" name="genreIds" value="ignore" checked>
    <div th:each="genre: ${genres}">
      <label th:for="${genre.genreName}"><input type="checkbox" th:id="${genre.genreName}" name="genreIds" th:value="${genre.genreName}" th:text="${genre.genreName}"></label>
    </div>


    <input hidden th:field="*{id}" th:value="${event.id}">
    <button type="submit" class="btn eventSearchButton">Submit</button>
  </form>

</div>



<th:block th:replace="partials/scripts.html :: scripts"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<th:block th:replace="partials/scripts.html :: scripts"></th:block>
<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>
