<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>show</title>
    <th:block th:replace="partials/style.html :: style"></th:block>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
            crossorigin="anonymous"
    />
</head>
<body class="main">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="jumbotron jumbotron-fluid">
    <main class="container">
        <div class="card offwhite-body">
            <div class="card-image">
                <h4 class="card-title">Viewing All Events</h4>
                <p>Click any event to view all of its content.</p>
            </div>
        </div>
        <div th:each="event : ${events}">
            <div class="card offwhite-body">
                <div class="card-content preview-post">
                    <p th:text="${event.description}"></p>
                    <p th:text="${event.location}"></p>
                    <p th:text="${event.startDateTime}"></p>
                    <p th:text="${event.slots}"></p>
                    <p th:text="${event.price}"></p>
                </div>
            </div>
        </div>
    </main>
</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"
></script>
<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>
