<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>show</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <th:block th:replace="partials/style.html :: style"></th:block>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="../../static/css/starRating.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>
<body class="main">
<nav th:replace="partials/navbar.html :: navbar"></nav>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="${event.title}">Modal Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><!-- The X Button -->
                </div>
                <div class="modal-body">
                    YOUR RATING:
                    <form th:action="@{/event/show}" th:method="post" th:object="${review}">
                        <div class="rating">

                            <input type="radio" name="rating" value="1" id="1" th:field="*{rating}"><label for="1">☆</label>
                            <input type="radio" name="rating" value="2" id="2" th:field="*{rating}"><label for="2">☆</label>
                            <input type="radio" name="rating" value="3" id="3" th:field="*{rating}"><label for="3">☆</label>
                            <input type="radio" name="rating" value="4" id="4" th:field="*{rating}"><label for="4">☆</label>
                            <input type="radio" name="rating" value="5" id="5" th:field="*{rating}"><label for="5">☆</label>
                        </div>
                        <textarea class="description" placeholder="Comments:" th:field="*{body}"></textarea>
                    </form>

                </div>
                <div class="modal-footer">
                    <form th:method="post" th:action="">
                        <input hidden name="id" th:value="${event.id}">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Submit Rating</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="card offwhite-body">
      <div class="card-image">
        <div class="form-group">
          <h3 th:text="${event.title}"></h3>
          <p th:text="${event.description}"></p>
          <p th:text="${event.location}"></p>
          <p th:text="${event.startDateTime}"></p>
          <p th:text="${event.slots}"></p>
          <p>List of Performers:</p>
          <div th:each="slotted : ${performers}">
            <p th:text="${slotted.displayName}"></p>
          </div>
          <p th:text="'$' + ${event.price}"></p>
            <p><a th:if="${isOwner}" th:href="@{|/event/${event.getId()}/edit|}">Edit Event</a></p>

            <!-- Modal -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Rate Event
            </button>

      </div>
    </div>
  </div>
</div>


<footer th:replace="partials/footer.html :: footer"></footer>
<th:block th:replace="partials/scripts.html :: scripts"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>
