<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Viewing Event</title>
  <th:block th:replace="partials/style.html :: style"></th:block>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body class="main">
  <nav th:replace="partials/navbar.html :: navbar"></nav>
  <div class="container mt-5" style="padding: 20px 20px 20px 28px;">
    <div class="jumbotron jumbotron-fluid card">
      <div class="d-flex">
        <div class="card-image">
          <div class="form-group">
            <h2>
              <b class="details">Event details:</b>
              <div align="right" class="showButtons">
                <div class="card userImageCard" style="float: none;">
                  <div class="pic" align="center">
                    <a th:href="@{|/profile/${event.getPromoter().getId()}|}">
                      <img id="event-image" th:src="${event.promoter.imageUrl}" alt="No Profile Picture">
                    </a>
                  </div>
                </div>
                <div align="center">
                  <a th:href="@{|/profile/${event.getPromoter().getId()}|}" class="btn eventSearchButton"><span th:text="${event.getPromoter().getDisplayName()}"></span></a>
                </div>
              </div>
            </h2><br>
            <h4 th:text="${event.title}"></h4>
            <span th:text="${event.description}"></span><br>
            <span th:text="'This event pays $' + ${event.price} + ' per band.'"></span>
            <p><span th:text="${event.slots}"></span> slots available to play at <span th:text="${event.location}"></span> starting @ <span th:text="${event.getTime()}"></span> on <span th:text="${event.getDateFormat()}"></span>.<br><br></p>
            <p><b>Current lineup to perform:</b></p>
              <ul>
                  <li th:each="slotted : ${event.performers}">
                      <span th:text="${slotted.displayName}"></span>
                  </li>
              </ul><br>
            <!--              Below are options for the Performers/request-->
            <div th:if="${!currentUser.getPromoter()}">
              <!--                Below we are checking if the person is the NOT a requester or a performer...-->
              <form th:if="!${isReqOrSlot}" th:action="@{|/event/add/requester|}" th:method="post" style="cursor: pointer">
                <input hidden name="id" th:value="${event.getId()}">
                <a class="btn eventSearchButton" onclick="this.parentNode.submit();">Request to Play.</a>
              </form>
              <!--                Below we are checking if the person is the a requester... already so they can remove their selves if they want.-->
              <form th:if="${isRequester}" th:action="@{/event/remove/requester}" th:method="post" style="cursor: pointer">
                <input hidden name="id" th:value="${event.getId()}">
                <input hidden name="requesterId" th:value="${currentUser.getId()}">
                <a class="btn eventSearchButton" onclick="this.parentNode.submit();">Remove Request to Play.</a>
              </form>
              <!--                Below we are checking if the person is the a performer... already so they can remove their selves if they want.-->
              <form th:if="${isSlotted}" th:action="@{/event/remove/performer}" th:method="post" style="cursor: pointer">
                <input hidden name="id" th:value="${event.getId()}">
                <input hidden name="performerId" th:value="${currentUser.getId()}">
                <a class="btn eventSearchButton" onclick="this.parentNode.submit();">Remove myself from Performer List.</a>
              </form>
            </div>
            <!--               Below are the options for the owner...-->
            <div th:if="${isOwner}">

              <!--                to accept request/remove...-->
              <div th:if="!${eventNotFull}">
                <p class="text-danger">Sorry This event is full. Please edit this event and increase the slots to add more performers, OR remove a performer before adding a new one.</p>
              </div>

              <h5><b>Event Roster Controls Below</b></h5>
              <div th:each="requester : ${event.getRequesters()}">
                <form th:action="@{/event/add/performer}" th:method="post" style="cursor: pointer">
                  <input hidden name="id" th:value="${event.getId()}">
                  <input hidden name="requesterId" th:value="${requester.getId()}">
                  <a th:if="${eventNotFull}" class="btn eventSearchButton" onclick="this.parentNode.submit();">Add: <span th:text="${requester.username}"></span> to performers List.</a>
                </form>
                <form th:action="@{/event/remove/requester}" th:method="post" style="cursor: pointer">
                  <input hidden name="id" th:value="${event.getId()}">
                  <input hidden name="requesterId" th:value="${requester.getId()}">
                  <a class="btn eventSearchButton" onclick="this.parentNode.submit();">Remove: <span th:text="${requester.username}"></span> from requesters List.</a>
                </form>
              </div>
              <!--                These are for removing performers.-->
              <div th:each="performer : ${event.performers}">
                <form th:action="@{/event/remove/performer}" th:method="post" style="cursor: pointer">
                  <input hidden name="id" th:value="${event.getId()}">
                  <input hidden name="performerId" th:value="${performer.getId()}">
                  <a class="btn eventSearchButton" onclick="this.parentNode.submit();">Remove: <span th:text="${performer.username}"></span> from performers List.</a><br><br>
                </form>
              </div>
              <div align="right" class="showButtons" style="margin-right: 10px;">
                <p>
                  <a th:if="${isOwner}" th:href="@{|/event/${event.getId()}/edit|}" class="btn eventSearchButton">Edit Event</a><br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="partials/footer.html :: footer"></footer>
  <th:block th:replace="partials/scripts.html :: scripts"></th:block>
</body>
</html>
