<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>Our Events</title>
    <th:block th:replace="partials/style.html :: style"></th:block>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous"/>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div th:each="event: ${events}">
    <h3 th:text="${event.title}"></h3>
</div>
<div class="container my-3 my-sm-5">
    <h1 class="mb-3 mb-sm-5 text-center">Events</h1>
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="card card-outline-success text-center">
                <div class="card-header bg-success text-white">
                    <h2>Metal Fest</h2>
                    <h4>$200</h4>
                </div>
                <div class="card-block">
                    <p class="card-text text-left my-2 text-center">
                        Heavy metal is a genre of rock music that developed in the late 1960s and early 1970s,
                        largely in the United States and the United Kingdom.
                    </p>
                </div>
                <ul class="list-group small">
                    <li class="list-group-item">Illusions Theater At The Alamodome - San Antonio, TX</li>
                    <li class="list-group-item">AUG 21</li>
                    <li class="list-group-item">Sat 7:45pm</li>
                    <li class="list-group-item"><a href="#">Slots</a></li>
                    <li class="list-group-item">Canceled</li>
                </ul>
                <div class="card-footer">
                    <button type="button" class="btn btn-success btn-lg">
                        Select
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card card-outline-warning text-center">
                <div class="card-header bg-warning text-white">
                    <h2>Skillet</h2>
                    <h4>$220</h4>
                </div>
                <div class="card-block">
                    <p class="card-text text-left my-2 text-center">
                        Skillet is an American Christian rock band formed in Memphis, Tennessee, in 1996.
                    </p>
                </div>
                <ul class="list-group small">
                    <li class="list-group-item">Aztec Theater - San Antonio, TX</li>
                    <li class="list-group-item">OCT 1</li>
                    <li class="list-group-item">Mon 7:00pm</li>
                    <li class="list-group-item"><a href="#">Slots</a></li>
                    <li class="list-group-item">Rescheduled Date</li>
                </ul>
                <div class="card-footer">
                    <button type="button" class="btn btn-warning btn-lg">
                        Select
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card card-outline-danger text-center">
                <div class="card-header bg-danger text-white">
                    <h2>Crowder</h2>
                    <h4>$250</h4>
                </div>
                <div class="card-block">
                    <p class="card-text text-left my-2 text-center">
                        David Wallace Crowder, known professionally by his mononymous stage name Crowder since 2012,
                        is an American Contemporary Christian music singer, songwriter, multi-instrumentalist and
                        author.
                    </p>
                </div>
                <ul class="list-group small">
                    <li class="list-group-item">Majestic Theater San Antonio, TX</li>
                    <li class="list-group-item">NOV 19</li>
                    <li class="list-group-item">Fri 7:30pm</li>
                    <li class="list-group-item"><a href="#">Slots</a></li>
                    <li class="list-group-item">Postponed</li>
                </ul>
                <div class="card-footer">
                    <button type="button" class="btn btn-danger btn-lg">
                        Select
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery CDN first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<!--<script-->
<!--        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"-->
<!--        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"-->
<!--        crossorigin="anonymous"-->
<!--&gt;</script>-->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"
></script>
</body>
</html>