<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <title>Thank you!</title>
  <meta charset="UTF-8"/>
  <th:block th:replace="partials/style.html :: style"></th:block>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="container">

  <h1 th:text="'Thank you for your submission form, ' + ${user.username} + '!'"></h1>


  <p th:text="'Your Post ID: ' + ${event.id}">
  <p th:text="'Start Time: ' + ${event.startDateTime}"></p>
  <h1 th:text="${event.title}"></h1>
  <h5 th:text="'Location: ' + ${event.location}"></h5>
  <h5 th:text="'Price: $' + ${event.price}"></h5>
  <h5 th:text="'Description: ' + ${event.description}"></h5>
  <h5 th:text="'Slots: ' + ${event.slots}"></h5>
  <h5>These users are playing at your event.</h5>
  <div th:each="user : ${event.performers}">
    <h6 th:text="${user.getDisplayName()}"></h6>
  </div>
  <h5>These are the genres you selected.</h5>
  <div th:each="genre : ${event.genres}">
    <h6 th:text="${genre.genreName}"></h6>
  </div>


</div>
<footer th:replace="partials/footer.html :: footer"></footer>
<th:block th:replace="partials/scripts.html :: scripts"></th:block>
</body>
</html>
