<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<nav th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a id="navbarA" class="navbar-brand" href="/">
<!--        <img th:src="images/logoTransparent.png" src="logoTransparent.png" alt="Audio Space"/>-->
        <img id="navbarLogo" src="/img/logoTransparent.png" alt="Audio Space"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/event">Events</a>
          </li>
          <li  sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li  sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="/register">Register!</a>
          </li>
          <li  sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/event/create">Create Event</a>
          </li>
          <li  sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/profile">My Profile</a>
          </li>
<!--          <li  sec:authorize="isAuthenticated()">-->
<!--            <a class="nav-link" href="/logout">Logout</a>-->
<!--          </li>-->
          <li sec:authorize="isAuthenticated()">
            <form id="logoutButton" th:action="@{/logout}" th:method="post">
              <a class="nav-link" onclick="this.parentNode.submit();">Logout</a>
              <!--              <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
            </form>
          </li>
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
<!--               data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              Dropdown-->
<!--            </a>-->
<!--            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--              <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--              <li>-->
<!--                <hr class="dropdown-divider">-->
<!--              </li>-->
<!--              <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--          </li>-->
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</nav>
</body>
</html>
