* {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@media only screen and (max-width: 900px) {
    .searchEventCard {
        display: none;
    }

    #mobileSearch {
        display: block;
        padding: 9px;
    }

    .mobileOnly > form {
        display: flex;
    }

    .mobileOnly > form > * {
        margin: 0 10px;
    }

    #searchMobile {
        flex-grow: 1;
    }

    .profileMobileCard {
        margin-right: 65vw;
    }

    .mobileCard2 {
        margin-top: 450px;

    }
}

.mobileOnly {
    display: none;
}

.container {
    background-color: #d8dedd;
    border-radius: 10px;
    width: 95%;
}

.container-fluid {
    background-color: #344B47;
}

.footer-as {
    background-color: #344B47;

}


/* unvisited link */
a:link {
    color: #344B47;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #1e2c2a;
}

/* mouse over link */
a:hover {
    color: #435f58;
}

/* selected link */
a:active {
    color: #1e2c2a;
}

.eventLocation {
    color: #435f58;
}

body {
    background-color: #344B47;
    font-family: montserrat, sans-serif;
}

.containerEvents {
    background-color: #344B47;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.searchEventCard {
    padding: 9px;
    height: 60%;
    float: left;
    margin: 100px 0px 0px 0px;
}

.eventsDisplayCard {
    padding: 13px;
    margin: 10px 0px 0px 8px;
}

#indexH3 {
    color: #d8dedd;
}

.displayEvent {
    background-color: #d8dedd;
    border-radius: 10px;
    max-width: 56vw;
    padding: 10px;
    margin: 15px;
}

.eventBody {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.userImageCard {
    float: left;
    margin-right: 10px;
}

.mainEvents {
    margin: 20px;
    width: 70%;
}

.footer-as {
    background-color: #344B47;
}

.navbar {
    background-color: #d8dedd;
}

#nav {
    background-color: #d8dedd;
}

.profile-card-container {
    /*margin-left: 2rem;*/
}

#navbarLogo {
    width: 100%;
    height: 100%;
}

#navbarA {
    width: 5%;
    height: 100%;
}


.profile-card {
    width: 350px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}


.pic {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #314541, #759f90);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
    25% {
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: right top;
    }
    100% {
        background-position: left top;
    }
}


.pic img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.name {
    color: #150f0f;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}


.desc {
    font-size: 18px;
    color: #00796D;
}


.sm {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}


.sm a {
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}


.card-footer {
    background: #f4f4f4;
}

.numbers {
    display: flex;
    align-items: center;
}

#avg-rating {
    text-decoration: underline;
}

#avg-rating:hover {
    cursor: pointer;
    color: orangered;


}


.item {
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #00796D;
}


.item span {
    display: block;
    color: #2c3a47;
    font-size: 30px;
}

.border {
    width: 1px;
    height: 30px;
    background: #bbb;
}

.card-events {
    width: 20em;
}

.eventCard {
    max-width: 60vw;
    /*width: 350px;*/
    border-radius: 10px;
    margin: 0 10px;
}


.userName {
    font-size: x-large;
    font-weight: bold;
    padding: .3rem;
}

.reviews {
    margin-bottom: 0rem;
    margin-top: 1rem;
    padding: .5rem;
}

.rate {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: .3rem;
    padding: .3rem;
}

.lightBG {
    border-radius: .5rem;
    background-color: #e3e3e3;
    padding: .5rem;
    border: 2px solid black;
    margin-bottom: .5rem;
}


.colorStar {
    color: #ffc107;
}
.details {
    text-align: justify;
}
.showButtons {
    float: right;
}
.comment {
    margin-bottom: .3rem;
    font-weight: bold;
    text-decoration: underline;
}

.textSize {
    font-size: small;

}


.modal-content {
    padding: .5rem;
}

#searchCard {
    background-color: #d8dedd;
}

.searchInput {
    width: 100%;
    padding: 5px;
}

.eventSearchButton {
    border: 2px solid #344B47;
    padding: 5px;
    background-color: #d8dedd;
    color: #344B47;
    margin: 9px;
}

.card-header {
    margin-top: 15px;
    background-color: #bdc5c2;
}

.eventSearchButton:hover {
    border: 2px solid #344b47;
    background-color: #344B47;
    color: #d8dedd;
}

/*this button style is for when the background of where the button is green because of hover effect makes it look bad*/
.btn-bkgnd-green {
    border: 2px solid #344B47;
    padding: 5px;
    background-color: #d8dedd;
    color: #344B47;
}

.btn-bkgnd-green:hover {
    border: 2px solid #d8dedd;
    background-color: #344B47;
    color: #d8dedd;
}


.card {
    border: none;
    background-color: transparent;
}

/*Star Rating CSS*/
.rotate {
    transform: translate(-50%, -50%) rotateY(180deg);
    margin-left: 5.5rem;
    margin-right: 3.5rem;
    margin-top: 1rem;
}


.rating input {
    display: none;
}

.rating label i {
    cursor: pointer;
    margin-left: 1rem;
}

.profileName {
    color: black;
}

.rating input:not(:checked) ~ label:hover,
.rating input:not(:checked) ~ label:hover ~ label {
    color: #ffc107;
}

.rating input:checked ~ label {
    color: #fd4;
}

input#5:checked ~ label {
    color: #ffc107;
    text-shadow: 0 0 20px #952;
}

.textRect {
    width: 100%;
}


/*CREATE.HTML*/
.push-down {
    margin-top: 2rem;
}

.down {
    margin-top: 3rem;
}


.TitleForm {
    width: 100%;
    margin-bottom: 2rem;
}

.formDetails {
    color: antiquewhite;

}

.eventForms {
    /*width: 80vh;*/
}

.content {
    width: 800px;
    margin: 10px auto auto;
}

.bars {
    margin: 20px;
}

.genres {
    margin: .5rem;
}

.genreList {
    margin: 2rem;
}

.nav-link {
    color: #1e2c2a;
}

.pleaseFill {
    margin-left: 6rem;
}


.contents {
    margin-bottom: 2rem;
}

.col-width {
    width: 100%;
}

.box {
    border-radius: 10px;
}


.scroll {
    height: 30vh;
    overflow: auto;
}

#exampleModalLabel {
    font-weight: bolder;
}

#ratingsModalLabel{
    font-weight: bolder;
}

/*Bootstrap Media Queries*/

@media only screen and (max-width: 600px) {
    .pic img#event-image {
        display: block;
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
}


@media only screen and (min-width: 200px)and(max-width: 768px) {
    .box {
        width: 100vh;
    }
}


@media only screen and (min-width: 768px) {
    .box {
        width: 50vw;
    }
}

#homeContainer, #footer {
    width: 95%;
}

p {
    margin-bottom: 0;

}

#fixAleProblem {
    background-color: #d8dedd;
    border-radius: 10px;
    padding: 10px;
    margin: 15px
}

