/*.ColorPallet{*/
/*  color:#3E4259;*/
/*  color:#675F73;*/
/*  color: #bf8484;*/
/*  color:#f2f2f0;*/
/*  color:#535877;*/
/*  color:#292C3B;*/


/*  color: #2b2d3d;*/
/*  color: #434a4c;*/
/*  color: #5d3030;*/
/*  color: #1c1e20;*/
/*  color: #3a3b53;*/
/*  color: #1c1e2a;*/

/*}*/

body{
  background-color: lightgrey;
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

#navbarLogo{
  width: 100%;
  height: 100%;
}

#navbarA{
  width: 5%;
  height: 100%;
}

:root {
  --primary: #FFCE00;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
}