<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>Contact</title>
    <meta charset="UTF-8"/>
    <th:block th:replace="partials/style.html :: style"></th:block>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<!--first part-->
<div class="container my-3 my-sm-5">
    <h1 class="mb-sm-4 text-center">Contact</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <h4>Address:</h4>
            <address>
                <strong>Audio Space</strong><br/>
                600 Navarro St, <br/>
                San Antonio, TX 78205<br/>
                <abbr title="Telephone"><i class="fas fa-phone-volume"></i> </abbr
                ><a href="#">+830-555-444</a><br/>
                <abbr title="Mail"><i class="fas fa-envelope-open-text"></i> </abbr
                ><a href="#">audiospace@email.com</a>
            </address>
        </div>
        <div class="col-12 col-md-6">
            <h4>Opening hours:</h4>
            <p>
                Mon-Fri:<span class="float-right"> 9 am - 5 pm</span><br/>
                Sun-sat:<span class="float-right"> Off</span><br/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            <h4>Send us a message</h4>
            <form action="#">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input
                                    type="text"
                                    id="name"
                                    class="form-control"
                                    placeholder="Name"
                                    required
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input
                                    type="email"
                                    id="email"
                                    class="form-control"
                                    placeholder="example@email.com"
                                    required
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="telephone">Telephone</label>
                            <input
                                    type="tel"
                                    id="telephone"
                                    class="form-control"
                                    placeholder="9347831209"
                                    required
                            />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="select">Department:</label>
                            <select
                                    id="select"
                                    class="form-control"
                                    aira-describedby="select-helpBlock"
                                    required
                            >
                                <option value="#">- select here -</option>
                                <option value="business">Events</option>
                                <option value="Sale">Promoter</option>
                                <option value="Support">Support</option>
                            </select>
                            <small id="select-helpBlock" class="form-text"
                            >Please select the recipient of your message.</small
                            >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="textarea">Message:</label>
                    <textarea
                            id="textarea"
                            class="form-control"
                            rows="5"
                            placeholder="Write your message here.."
                            required
                    ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </form>
            <!--            second part-->
        </div>
        <div class="col-12 col-lg-6">
            <h4>Where to find us:</h4>
            <div class="embed embed-responsive-4by3">
                <!--                Map go here -->
                <div class="row justify-content-center">
                    <iframe
                            src="https://maps.google.com/maps?q=600%20navaro&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            width="600"
                            height="450"
                            frameborder="0"
                            style="border: 0;"
                            allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/footer.html :: footer"></footer>
<th:block th:replace="partials/scripts.html :: scripts"></th:block>
</body>
</html>