<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>Employees</title>
    <meta charset="UTF-8"/>
    <th:block th:replace="partials/style.html :: style"></th:block>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="container py-1 my-3 my-sm-5">
    <h1 class="mb-3 mt-3 mb-sm-5 text-center">Meet the team</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
            <img src="https://avatars.githubusercontent.com/u/80721797?v=4" class="img-fluid rounded-circle mb-1"
                 alt="alejandro-cabrera">
            <ul class="list-inline mb-1">
                <li class="list-inline-item small"><a href="https://github.com/cabrera-alejandr26" target="_Blank"><img
                        align="center"
                        class="rounded-circle"
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40"
                        width="40" alt="Github"/></a></li>
                <li class="list-inline-item small"><a href="https://www.linkedin.com/in/alejandro-cabrera09/"
                                                      target="_Blank"><img align="center"
                                                                           class="rounded-circle"
                                                                           src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Ke1hvlvhELaM4S4K-vmBAE19qV3-YMue82uqa3DT_yyPw0_M9ICwvDVQtsEeT4WC0eM&usqp=CAU"
                                                                           height="40" width="40" alt="LinkedIn"/></a>
                </li>
              <li class="list-inline-item small"><a href="https://alumni.codeup.com/students/1133"
                                                    target="_Blank"><img align="center"
                                                                         class="rounded-circle"
                                                                         src="/img/codeup.png"
                                                                         height="40" width="40" alt="Codeup Portal"/></a>
              </li>
            </ul>
            <h5>Alejandro Cabrera</h5>
            <p>Software Developer</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
            <img src="https://avatars.githubusercontent.com/u/80721771?v=4" class="img-fluid rounded-circle mb-1"
                 alt="savanna-garcia">
            <ul class="list-inline mb-1">
                <li class="list-inline-item small"><a href="https://github.com/SavannaMarie" target="_Blank"><img
                        align="center"
                        class="rounded-circle"
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40"
                        width="40" alt="Github"/></a></li>
                <li class="list-inline-item small"><a href="https://www.linkedin.com/in/savanna-m-garcia/"
                                                      target="_Blank"><img align="center"
                                                                           class="rounded-circle"
                                                                           src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Ke1hvlvhELaM4S4K-vmBAE19qV3-YMue82uqa3DT_yyPw0_M9ICwvDVQtsEeT4WC0eM&usqp=CAU"
                                                                           height="40" width="40" alt="LinkedIn"/></a>
                </li>
              <li class="list-inline-item small"><a href="https://alumni.codeup.com/students/1111"
                                                    target="_Blank"><img align="center"
                                                                         class="rounded-circle"
                                                                         src="/img/codeup.png"
                                                                         height="40" width="40"
                                                                         alt="Codeup Portal"/></a>
              </li>
            </ul>
            <h5>Savanna Garcia</h5>
            <p>Software Developer</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
            <img src="https://avatars.githubusercontent.com/u/80540405?v=4" class="img-fluid rounded-circle mb-1"
                 height="460"
                 width="460"
                 alt="carlos-munoz">
            <ul class="list-inline mb-1">
                <li class="list-inline-item small"><a href="https://github.com/carlosmunozus03" target="_Blank"><img
                        align="center"
                        class="rounded-circle"
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40"
                        width="40" alt="Github"/></a></li>
                <li class="list-inline-item small"><a href="https://www.linkedin.com/in/carlos-munoz-ba516a214/"
                                                      target="_Blank"><img align="center"
                                                                           class="rounded-circle"
                                                                           src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Ke1hvlvhELaM4S4K-vmBAE19qV3-YMue82uqa3DT_yyPw0_M9ICwvDVQtsEeT4WC0eM&usqp=CAU"
                                                                           height="40" width="40" alt="LinkedIn"/></a>
                </li>
              <li class="list-inline-item small"><a href="https://alumni.codeup.com/students/1139"
                                                    target="_Blank"><img align="center"
                                                                         class="rounded-circle"
                                                                         src="/img/codeup.png"
                                                                         height="40" width="40" alt="Codeup Portal"/></a>
              </li>
            </ul>
            <h5>Carlos Munoz</h5>
            <p>Software Developer</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
            <img src="https://avatars.githubusercontent.com/u/80721800?v=4" class="img-fluid rounded-circle mb-1"
                 alt="alex-santamaria">
            <ul class="list-inline mb-1">
                <li class="list-inline-item small"><a href="https://github.com/Santamaria-Alex" target="_Blank"><img
                        align="center"
                        class="rounded-circle"
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40"
                        width="40" alt="Github"/></a></li>
                <li class="list-inline-item small"><a href="https://www.linkedin.com/in/alexis-alex-santamaria/"
                                                      target="_Blank"><img align="center"
                                                                           class="rounded-circle"
                                                                           src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Ke1hvlvhELaM4S4K-vmBAE19qV3-YMue82uqa3DT_yyPw0_M9ICwvDVQtsEeT4WC0eM&usqp=CAU"
                                                                           height="40" width="40" alt="LinkedIn"/></a>
                </li>
              <li class="list-inline-item small"><a href="https://alumni.codeup.com/students/1136"
                                                    target="_Blank"><img align="center"
                                                                         class="rounded-circle"
                                                                         src="/img/codeup.png"
                                                                         height="40" width="40" alt="Codeup Portal"/></a>
              </li>
            </ul>
            <h5>Alex Santamaria</h5>
            <p>Software Developer</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3 text-center">
            <img src="https://avatars.githubusercontent.com/u/80721887?v=4" class="img-fluid rounded-circle mb-1"
                 alt="joshua-williams">
            <ul class="list-inline mb-1">
                <li class="list-inline-item small"><a href="https://github.com/Joshua-Williams8" target="_Blank"><img
                        align="center"
                        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="40" class="rounded-circle"
                        width="40" alt="Github"/></a></li>
                <li class="list-inline-item small"><a href="https://www.linkedin.com/in/josh-williams8/"
                                                      target="_Blank"><img align="center"
                                                                           class="rounded-circle"
                                                                           src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Ke1hvlvhELaM4S4K-vmBAE19qV3-YMue82uqa3DT_yyPw0_M9ICwvDVQtsEeT4WC0eM&usqp=CAU"
                                                                           height="40" width="40" alt="LinkedIn"/></a>
                </li>
              <li class="list-inline-item small"><a href="https://alumni.codeup.com/students/1121"
                                                    target="_Blank"><img align="center"
                                                                         class="rounded-circle"
                                                                         src="/img/codeup.png"
                                                                         height="40" width="40" alt="Codeup Portal"/></a>
              </li>
            </ul>
            <h5>Joshua Williams</h5>
            <p>Software Developer</p>
        </div>
    </div>
</div>
<footer th:replace="partials/footer.html :: footer"></footer>
<th:block th:replace="partials/scripts.html :: scripts"></th:block>
</body>
</html>
