<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <th:block th:replace="partials/style.html :: style"></th:block>
</head>
<body style="background-color: lightgrey">
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="container mt-5">

<!--    <div class="jumbotron">-->
<!--        <h1 class="display-4 text-center">Audio Space&trade;</h1>-->
<!--        <h1>Welcome</h1>-->
<!--        <p class="lead">Welcome to Audio Space&trade; where we connect the musician directly with promoters.</p>-->
<!--        <hr class="my-4">-->
<!--        <a class="btn btn-dark btn-lg" href="/register" role="button">Sign Up!</a>-->
<!--    </div>-->
<!--</div>-->

    <div class="d-flex justify-content-center align-items-center">
        <div class="card mb-5 " style="max-width: 80%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img id="showLogo" src="/img/show.jpeg" alt="Audio Space" class="img-fluid rounded-start"/>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">Promote events, and connect with promoters online.</h2>
                        <p class="card-text">The easiest and most convenient way to promote shows, and get your band booked!</p>
                        <div>
                            <a class="btn btn-dark btn-lg d-flex align-items-center justify-content-center " href="/register" role="button">Sign Up!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="text-center mt-5">
    <div class="header text-center"><h3 style="color: #00796D">Welcome to Audio Space</h3></div>
    <h1>Create events as a promoter and invite musicians to play.</h1>
    <p>Audio Space's goal is to make the connection between promoters and musicians as easy as possible. Our platform aims to facilitate the process of booking shows and managing events.</p>
</div>

<hr class="my-4">

<div class="text-center mt-5">
    <div><h1>Creating events, promoting your shows, and growing your fan base made easy.</h1></div>

    <div class="my-4">
        <p class="text-center">Once you register as a promoter, creating an event to promote is simple. Click on the
            Create
            Event tab, and fill out the form! The event will appear in all of the events created tab, and in your
            personal
            profile!</p>
    </div>

    <div class=" d-flex align-items-center justify-content-center my-4">
        <div class="card" style="width: 18rem; height: 20rem;">
            <img src="/img/create-event-2.png" alt="...">
        </div>
    </div>
</div>



</div>

<th:block th:replace="partials/scripts.html :: scripts"></th:block>
<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>
