<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h3 class="card-title">Login</h3>
<!--added error message when login-->
<!--<div th:if="${param.error}">-->
<!--    Invalid Username or Password.-->
<!--</div>-->
<!--added error message when logout-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->
<!--form-->
<div class="container">
    <!--    added action for login-->
    <form action="" th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="username" class="username">Username</label>
            <input type="username" class="username" id="username" aria-describedby="username">
        </div>
        <div class="mb-3">
            <label for="password" class="password">Password</label>
            <input type="password" class="password" id="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="remember-me">
            <label class="form-check-label" for="remember-me">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>