<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>View on Map</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js'></script>
    <th:block th:replace="partials/style.html :: style"></th:block>
<body>
    <nav th:replace="partials/navbar.html :: navbar"></nav>
    <div class="container">
        <form>
            <input class="form-control me-2" id="mapSearch" type="search" placeholder="Enter your location" style="width: 200px; margin: 3px;">
            <button class="btn btn-dark" id="btn" type="submit" style="padding: 3px;">Search</button>
        </form>
        <div id='map' style="width: 750px; height: 600px; margin: auto;"></div>
        <div class="hiddenMap" th:each="event: ${eventList}" style="display: none;">
        <p class="eventId" th:text="${event.id}">
        <p th:text="${event.startDateTime}"></p>
        <p class="eventTitle" th:text="${event.title}"></p>
        <p class="eventLocation" th:text=" ${event.location}"></p>
        <p th:text="${event.price}"></p>
        <p th:text="${event.slots}"></p>
        <p th:text="${event.description}"></p>
        </div>
    </div>
    <script th:src="@{/js/keys.js}"></script>
    <script th:src="@{/js/mapbox-geocoder-utils.js}"></script>
    <script th:src="@{/js/mapbox.js}"></script>
    <th:block th:replace="partials/scripts.html :: scripts"></th:block>
    <footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>
