<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>View on Map</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js'></script>
    <th:block th:replace="partials/style.html :: style"></th:block>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="container mt-5">
    <div class="text-center mt-5">
        <div class="header text-center"><h3 style="color: #00796D">Search you city</h3></div>
        <h1>Create events as a promoter and find the exact location with your application.</h1>
        <p>We want to make life easier and we know that extra help doesn't hurt. Use the map application to search for
            events in your country.</p>
    </div>

    <form class="row g-3">
        <div class="col-auto">
            <label for="mapSearch" class="visually-hidden"></label>
            <input type="search" class="form-control" id="mapSearch" placeholder="Enter you location">
        </div>
    </form>
    <div class="col-auto">
        <a class="contact-btn" id="btn" href="#">Search</a>
    </div>

    <!--        map go here, fixed responsive errors-->
    <div class="row justify-content-center">
        <div id='map' style="width: 750px; height: 600px; margin: auto;"></div>
        <div class="hiddenMap" th:each="event: ${eventList}" style="display: none;">
            <p class="eventId" th:text="${event.id}">
            <p th:text="${event.startDateTime}"></p>
            <p class="eventTitle" th:text="${event.title}"></p>
            <p class="eventLocation" th:text=" ${event.location}"></p>
            <p th:text="${event.price}"></p>
            <p th:text="${event.slots}"></p>
            <p th:text="${event.description}"></p>
        </div>
    </div>
</div>
<script th:src="@{/js/keys.js}"></script>
<script th:src="@{/js/mapbox-geocoder-utils.js}"></script>
<script th:src="@{/js/mapbox.js}"></script>
<th:block th:replace="partials/scripts.html :: scripts"></th:block>
<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>
