<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Register</title>
  <th:block th:replace="partials/style.html :: style"></th:block>
  <link rel="stylesheet" href="../static/css/main.css">
  <meta charset="UTF-8"/>
  <title>Profile</title>
  <th:block th:replace="partials/style.html :: style"></th:block>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="container">
  <!--  Profile Card-->
  <div class="profile-card-container">
    <div class="profile-card">
      <div class="card-header">
        <div class="pic">
          <img src="/img/logoTransparent.png" alt="No Profile Picture">
        </div>
        <div class="name" th:text="${user.displayName}"></div>
        <div class="desc" th:if="${user.getPromoter()}">
          <div>Promoter</div>
        </div>
        <div class="desc" th:if="!${user.getPromoter()}">
          <div>Musician/Band</div>
        </div>
        <div class="sm">
          <a href="" class="fab fa-facebook-f"></a>
          <a href="" class="fab fa-twitter"></a>
          <a href="" class="fab fa-youtube"></a>
        </div>
        <a href="" class="contact-btn">Contact </a>
        <!-- Button trigger modal -->
        <a th:if="${!profileOwner}">
          <button type="button" class="btn contact-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Review
          </button>
        </a>
        <a th:if="${profileOwner}" th:href="@{|/profile/${user.getId()}/edit|}" class="contact-btn">Edit Profile</a>
      </div>
      <div class="card-footer">
        <div class="numbers">
          <div class="item">
            <span>120</span>Posts
          </div>
          <div class="border"></div>
          <div class="item">
            <span>120</span>Following
          </div>
          <div class="border"></div>
          <div class="item">
            <span>120</span>Followers
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  End Profile Card-->
  <!--  Below list are the user's promoted events.-->
  <div th:if="${user.getPromoter()}">
    <h3 class="text-center">Here are your planned events:</h3>
    <div class="eventCard row row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
      <div th:each="event : ${userEvents}">
        <div class="col d-flex align-items-center justify-content-center">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" th:text="${event.title}"></h5>
              <h6 class="card-subtitle mb-2 text-muted" th:text="${event.location}"></h6>
              <p class="card-text" th:text="${event.description}"></p>
              <a th:href="@{|/event/${event.getId()}|}" class="btn btn-dark">Event Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Below is for the performers profile-->
    <div th:if="!${user.getPromoter()}">
      <h3 class="text-center">Here are the events you are playing at:</h3>
      <div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div th:each="event : ${user.slotted}">
          <div class="col d-flex align-items-center justify-content-center">
            <div class="card" style="width: 18rem; height: 20rem">
              <div class="card-body">
                <h5 class="card-title" th:text="${event.title}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${event.location}"></h6>
                <p class="card-text" th:text="${event.description}"></p>
                <a th:href="@{|/event/${event.getId()}|}" class="btn btn-dark">Event Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" th:text="${user.username}">Modal Title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form th:action="@{/profile}" th:method="post" th:object="${review}">
          <div class="modal-body">
            Your Rating:


            <input type="radio" name="rating" value="1" id="1" th:field="*{rating}"><label for="1">☆</label>
            <input type="radio" name="rating" value="2" id="2" th:field="*{rating}"><label for="2">☆</label>
            <input type="radio" name="rating" value="3" id="3" th:field="*{rating}"><label for="3">☆</label>
            <input type="radio" name="rating" value="4" id="4" th:field="*{rating}"><label for="4">☆</label>
            <input type="radio" name="rating" value="5" id="5" th:field="*{rating}"><label for="5">☆</label>
            <br>
            <textarea th:field="*{body}" placeholder="Comments:"></textarea>
          </div>
          <div class="modal-footer">

            <input hidden name="currentUserID" th:value="${currentUser.id}">
            <input hidden name="userID" th:value="${user.id}">
            <button type="submit" class="btn btn-danger">Submit Review</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<th:block th:replace="partials/scripts.html :: scripts"></th:block>
<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>

