<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>Create account</title>
    <meta charset="UTF-8"/>
    <th:block th:replace="partials/style.html :: style"></th:block>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
                <h1 class="mb-3 text-center">Register for Audio Space</h1>
                <p th:if="!${hasErrors}" class="lead">
                    It's free and you don't have to share your address!
                </p>

                <p class="lead text-danger" th:if="${hasErrors}" th:text="${errorText}">
                    Sorry that username is taken!
                </p>
                <!--        <p id="jsErrorMsg" class="lead text-danger">-->
                <!--          Javascript change this.-->
                <!--        </p>-->

                <form id="registerForm" th:action="@{/register}" method="POST" th:object="${user}" class="mb-3">
                    <div class="row">
                        <div class="form-group col-12 col-sm-6">
                            <label for="displayName">Display Name:</label>
                            <input
                                    id="displayName"
                                    th:field="*{displayName}"
                                    type="text"
                                    class="form-control"
                                    placeholder="Display Name"
                                    required
                            />
                        </div>
                        <div class="form-group col-12 col-sm-6">
                            <label for="username">Username:</label>
                            <input id="username"
                                   th:field="*{username}"
                                   type="text"
                                   class="form-control"
                                   placeholder="Username"
                                   required
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input
                                id="email"
                                th:field="*{email}"
                                type="email"
                                class="form-control"
                                placeholder="example@example.com"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input id="password"
                               th:field="*{password}"
                               type="password"
                               class="form-control"
                               required
                        />
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password:</label>
                            <input id="confirmPassword"
                                   type="password"
                                   class="form-control"
                                   required
                            />
                            <div class="form-group">
                                Are you a promoter?
                                <br>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input
                                                type="radio"
                                                name="isPromoter"
                                                id="true"
                                                class="form-check-input"
                                                value="true"
                                        />
                                        Yes
                                    </label>
                                </div>


                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input
                                                type="radio"
                                                name="isPromoter"
                                                id="false"
                                                class="form-check-input"
                                                value="false"
                                                checked
                                        />
                                        No
                                    </label>
                                </div>

                                <button id="submitButton" type="submit" class="eventSearchButton  btn btn-block mb-3"
                                        value="Sign up!">

                                    Create account
                                </button>
                                <div class="text-center">
                                    <p>or</p>
                                    <a href="/login" class="eventSearchButton btn">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<footer th:replace="partials/footer.html :: footer"></footer>
<th:block th:replace="partials/scripts.html :: scripts"></th:block>
<script th:src="@{/js/form-functions.js}"></script>
<script>
    $('#registerForm').submit(function (event) {
        event.preventDefault();
        let goodForm = true;
        // console.log(goodUsername($('#username').val()));
        if (!goodUsername($('#username').val())) {
            alert("Your username is invalid. Please do not put any special characters or spaces.");
            goodForm = false;
        }
        if (!goodEmail($('#email').val())) {
            alert("Your Email is invalid.");
            goodForm = false;
        }

        if (!longPassword($('#password').val())) {
            alert("Your password needs to be at least 6 characters long.");
            goodForm = false;
        }

        if (goodForm) {
            this.submit();
        }
    });
</script>
</body>
</html>
