<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Register</title>-->
<!--    <th:block th:replace="partials/style.html :: style"></th:block>-->
<!--<body>-->
<!--&lt;!&ndash;<th:block th:include="partials/navbar.html :: navbar"></th:block>&ndash;&gt;-->

<!--<nav th:replace="partials/navbar.html :: navbar"></nav>-->
<!--<div class="container">-->
<!--    <h1>Register for Audio Space</h1>-->
<!--    <form th:action="@{/register}" method="POST" th:object="${user}">-->

<!--        <label for="displayName">Display Name</label>-->
<!--        <input id="displayName" th:field="*{displayName}"/>-->
<!--        <br>-->
<!--        <label for="username">Username</label>-->
<!--        <input id="username" th:field="*{username}"/>-->
<!--        <br>-->
<!--        <label for="email">Email</label>-->
<!--        <input id="email" th:field="*{email}"/>-->
<!--        <br>-->
<!--        <label for="password">Password</label>-->
<!--        <input id="password" type="password" th:field="*{password}"/>-->
<!--        <br>-->
<!--        <label for="passwordConfirm">Confirm password</label>-->
<!--        <input id="passwordConfirm"/>-->
<!--        <br>-->
<!--        <label for="bio">Enter a bio</label>-->
<!--        <input id="bio" th:field="*{bio}"/>-->
<!--        <br>-->
<!--        <p>Are you a promoter?-->
<!--            <br>-->
<!--            <input type="radio" id="true" name="isPromoter" value="true">-->
<!--            <label for="true">Yes</label>-->
<!--            <input type="radio" id="false" name="isPromoter" value="false">-->
<!--            <label for="false">No</label>-->
<!--        </p>-->
<!--        <br>-->
<!--        <input value="Sign up!" type="submit"/>-->
<!--    </form>-->
<!--</div>-->

<!--<th:block th:replace="partials/scripts.html :: scripts"></th:block>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <title>Create account</title>
  <meta charset="UTF-8"/>
  <th:block th:replace="partials/style.html :: style"></th:block>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
        <h1 class="mb-3 text-center">Register for Audio Space</h1>
        <p th:if="!${hasErrors}" class="lead">
          It's free and you don't have to share your address!
        </p>

        <p class="lead text-danger" th:if="${hasErrors}" th:text="${errorText}">
          Sorry that username is taken!
        </p>

        <form th:action="@{/register}" method="POST" th:object="${user}" class="mb-3">
          <div class="row">
            <div class="form-group col-12 col-sm-6">
              <label for="displayName">Display Name:</label>
              <input
                id="displayName"
                th:field="*{displayName}"
                type="text"
                class="form-control"
                placeholder="Display Name"
                required
              />
            </div>
            <div class="form-group col-12 col-sm-6">
              <label for="username">Username:</label>
              <input id="username"
                     th:field="*{username}"
                     type="text"
                     class="form-control"
                     placeholder="Username"
                     required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              id="email"
              th:field="*{email}"
              type="email"
              class="form-control"
              placeholder="example@example.com"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input id="password"
                   th:field="*{password}"
                   type="password"
                   class="form-control"
                   required
            />
            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <input id="confirmPassword"
                     type="password"
                     class="form-control"
                     required
              />
              <div class="form-group">
                Are you a promoter?
                <br>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      name="isPromoter"
                      id="true"
                      class="form-check-input"
                      value="true"
                    />
                    Yes
                  </label>
                </div>


                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      type="radio"
                      name="isPromoter"
                      id="false"
                      class="form-check-input"
                      value="false"
                      checked
                    />
                    No
                  </label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block mb-3" value="Sign up!">
                  Create account
                </button>
                <div class="text-center">
                  <p>or</p>
                  <a href="/login" class="btn btn-success">Login</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<h3 id="testJ">Testing Jquery</h3>
<footer th:replace="partials/footer.html :: footer"></footer>
<th:block th:replace="partials/scripts.html :: scripts"></th:block>
</body>
</html>
